######################################################################
# Taixingren M3 / ramips mt7621
######################################################################

CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

# Web interface
CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh_Hans=y

# Native MT7621 SD/MMC controller and useful TF-card filesystems
CONFIG_PACKAGE_kmod-mmc-mtk=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-utf8=y

# Kernel modules required by OpenClash and luci-app-nikki
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-dummy=y

# Keep builds reproducible and faster in GitHub Actions
CONFIG_CCACHE=y
